html {
    background: #ffb6c1;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fff;
}

h1 {
    font-size: 3em;
    margin: 0;
}

h2 {
    font-size: 2em;
    margin: 0;
}

h3 {
    font-size: 1.5em;
    margin: 0;
}

h4 {
    font-size: 1em;
    margin: 0;
}

p {
    line-height: 1.4em;
    width: 900px;
    margin: 20px;
    padding: 20px;
    text-align: left;
}

#blog {
    border-top: 1px dotted #ccc;
}

.blog-post {
    border-bottom: 1px dotted #ccc;
    text-align: left;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%
    ;
}


table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#contact {
    color: #303030
}

a[href*="taylor"] {
    background-color: silver;
}


